.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.styleCard {
  border-radius: 8px;
  box-shadow: 8px 4px 10px 8px rgba(171, 158, 158, 0.9);
  border-radius: 20px;
  color: #253b56;
  margin: 12px 0px;
  padding: 1.8rem;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
}


.pie-container{
  border-radius: 8px;
  box-shadow: 8px 4px 10px 8px rgba(171, 158, 158, 0.9);
  border-radius: 20px;
  color: #253b56;
  margin: 12px 0px;
  padding: 1.8rem;
  margin-left: 20%;
  position: relative;
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 50%;
  margin-right:40%;
}

.pie{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.diagram{
  margin-left: auto;
  margin-right: auto;
}

.signInLogin {
  border-radius: 8px;
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  color: #253b56;
  width:50%;
    height:50%;
}


.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.styleCard{
  color: white;
}

canvas{
  text-decoration: white;
}

.div-color{
  background-color: hwb(216 1% 95%);
}

body{
  background-color: hwb(216 1% 95%);
}